body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-90deg, #e8987f, #ffc6dc,#91cce1, #93f6df);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50%, 0%;
	}
	100% {
		background-position: 100% 50%;
	}
}

/*.....container-main ...*/

.container-main {
    margin-bottom: 165px;
}

.main-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

img.bio-img {
    width: 300px;
    height: auto;
    padding-right: 100px;
}

.bio-info {
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    height: auto;
}

.bio-info h4 {
    font-size: 20px;
    margin: 0;
}

.bio-info h2 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    margin: 0px 0px 5px 0px;
    padding-bottom: 10px;
    height: 100px;
}

.edu-list {
    margin: 0;
    font-size: 12px;
    font-weight: 900;
    background-color: #000000;
    color: #ffb6c1;
    padding: 3px;
    width: 280px;
    border-radius: 6px;
}

.bio-edu p {
    font-weight: 600;
    line-height: 1.5;
}

a.btn {
    background: #b0e0e6;
    border-radius: 15px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    color: #00008b;
    box-shadow: 1px 5px #5f9ea0;
}


/* container-1st */

.container-1st {
    background: url("img/git.png");
    padding: 50px 300px 50px 300px;
}

.projects {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 900px;
    height: auto;
    background-color: #fff;
    row-gap: 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 20px;
}

.projects a {
    text-decoration: none;
    color: #5f9ea0;
    line-height: 10px;
}

.projects img {
    width: 300px;
    height: auto;
}

.pro-1, .pro-2, .pro-3 {
    display: flex;
    column-gap: 20px;
}

/* container-2nd */

.container-2nd {
    font-family: 'Montserrat', sans-serif;
    margin: 100px 300px;
}

.container-2nd p {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: ;
}

.tech {
    display: grid;
    grid-template-columns: auto auto;
}

.tech a{
    color: lightpink;
    text-decoration: none;
    background-color: black;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

.tech a:hover {
    background-color: #fff;
    color: #000;
    transform: 3s;
}



/* container-3rd */

.container-3rd {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;
}

.contact-header {
    display: flex;
    column-gap: 20px;
    color:#f699bc;
    padding-top: 100px;
}

.contact-header img {
    width: 150px;
    height: auto;
    margin-left: 300px;
}

.contact-info a, p {
    text-decoration: none;
    color: #000;
}

.contact-info {
    margin-left: 50px;
}

.form {
    margin: 100px 300px 0px 300px;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 50px;
}

input, textarea {
    width: 25rem;
    height: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.message {
    margin: 0px 300px;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 20px;
}

#msg {
    width: 860px;
    height: 200px;
}

.container-3rd button {
    margin: 0px 300px;
}

input[type="submit"] {
    width: 150px;
    padding: 10px 10px 30px 10px;
    margin-left: 300px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

input[type="submit"]:hover {
    color: #000;
    background-color: #fff;
    transform: 3s;
}



/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.site {
    padding: 10px 0px;
    display: flex;
}

.site img{
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.site a {
    align-self: center;
    text-decoration: none;
    color: #fff;
}

.site a:hover,
.media-link a:hover {
    color: #000;
    transform: 3s;
}

.media-link {
    align-self: center;
    padding: 0px 20px;
    word-spacing: 20px;
}

.media-link a {
    color: #fff;
    text-decoration: none;
}



html {
    box-sizing: border-box;
}
